<%= stylesheet_link_tag 'css/show', :media => "all" %>
<h3 class="show_page_name">ブログの詳細画面</h3>
<div class="detail_content">
<p>タイトル:<%= @blog.title %></p>
<p>内容:</p>
<p><%= @blog.content %></p>
</div>
