
<div class="wrapper"><!--top画面の背景だけ他のページと変えるため-->
<div class="tops_container">
   <div class="get_start_btn">
    <%= link_to blogs_path do %>
      Log Your Life<span class="glyphicon glyphicon-grain"></span>
    <% end %>
   </div>
   <div class="app_explanation">
     <p>Something amazing's going to happen to you today <br>
       あなたの日常の出来事を記録するアプリです。
     </p>
   </div>
</div>
</div>
