

.page_name {
  text-align: center;
}
.new_log {
  margin: 0 auto;
  width: 330px;
}
.blog_content textarea {
  width: 330px;
  height: 150px;
}
.form_fnc_btn input a {
  float: right;
  padding: 5px;
}
